{% extends 'base.html.twig' %}

{% block title %}苗殃 | 联合十堰 unisy.org{% endblock %}

{% block body %}

<div class="container w-75">
	<header class="my-5 text-center">
		<p class="h5">联合十堰 | unisy.org</p>
		<p class="display-4 mb-1">关 于</p>
	</header>

	<main>
		<p>
		看到消息后，我想诉求，想质问，想发飙，但问题是，对谁？我不知道。
		</p>
		<p>
		我想各位家长是和我一样的情绪，一样的困惑。
		</p>
		<p>
		不能闷着，这<strong>相当</strong>不是件小事。于是我创建了这个站点，希望能给各位家长提供一个集思广益的场所。
		</p>
		<p>
		unisy.org 这个域名取 unity 之意，联合的意思，读 ['junəsi] 。本来是留作它用，但既以 sy 结尾，又恰逢其事，再合适不过了。
		</p>
		中文名暂定——联合十堰。
		<p>
		</p>
	</main>

	<div id="links" class="text-center">
		<p class="mt-3">
		<a href="/" class="btn btn-lg btn-outline-secondary w-100"><b class="h2"><i class="fas fa-home"></i> 首 页</b></a/>
		</p>
	</div >

	<footer class="text-center">
		<p class="text-secondary">© 2018 unisy.org 联合十堰</p>
	</footer>
</div>
{% endblock %}
