{% extends 'base.html.twig' %}

{% block title %}苗殃 | 联合十堰{% endblock %}

{% block body %}
<div class="container mt-3 w-100" id="talk">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">联合十堰</a></li>
				<li class="breadcrumb-item"><a href="#">声 音</a></li>
				<li class="breadcrumb-item active" aria-current="page">苗殃</li>
			</ol>
		</nav>	
		
		<main>
			<div class="newvoice my-4">
				<input class="form-control mb-1" type="text" placeholder="昵称">
				<textarea class="form-control mb-1" row="1" placeholder="我说两句……"></textarea>
				<p class="row">
				<i class="far fa-image fa-2x col-auto"></i>
				<button class="btn btn-danger btn-sm col-auto">发布</button>
				</p>
			</div>
			
			<div class="voicelist">
				<div class="voice">
					<p class="mb-2">
					testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttestttesttesttesttesttesttesttesttesttesttesttesttesttest
					</p>
					<p class="">
					<span class="mr-3"><b class="username mr-3">dot craft</b>2018年7月22日 21:25</span>
					<span class=""><i class="far fa-comment-alt mr-2"></i>11</span>
					</p>
				</div>
				
				
				
				
				
			</div>
		</main>
		
</div>
{% endblock %}
