{% extends 'base.html.twig' %}

{% block title %}联合十堰 | unisy.org{% endblock %}

{% block body %}
<div class="container w-75">
	<header class="my-5 text-center">
		<p class="display-3">联合十堰</p>
	</header>
	<main>

	</main>
</div>
{% endblock %}
