{% extends 'base.html.twig' %}

{% block title %}苗殃 | 联合十堰 unisy.org{% endblock %}

{% block body %}

<div class="container w-75">
	<header class="my-5 text-center">
		<p class="h5">联合十堰 | unisy.org</p>
		<p class="display-2 mb-1">苗殃</p>
		<p class="h4">疫苗疫苗，害我苗裔</p>
		<p class="h4">兴妖作孽，宝剑谁提</p>
	</header>

	<main>
		<p class="h5">
		“生产记录造假“，这一句我们无法解读。到底质量有无问题？
		</p>
		<p class="h5">
		部门们，准备答辩；怒目而视，看你表演。
		</p>
		<p class="h5">
		怒发冲冠，终归是万般无奈；咆哮如雷，还不是杳无回声。体制之下，个体微如蝼蚁。
		</p>
		<p class="h5">
		然而，还是要抱好的希望，这影响的，是我们的骨肉。
		</p>
		<p class="h5">
		事件还在发酵，同胞们，联合起来，要说话，我们齐声说！
		</p>
	</main>

	<div id="links" class="text-center my-5">
		<p>
		<a href="#" class="btn btn-lg btn-outline-secondary w-100"><b class="h2"><i class="fas fa-link"></i> 论 坛<small><small></b><a/>
		</p>
		<p>
		<a href="#" class="btn btn-lg btn-outline-secondary w-100"><b class="h2"><i class="fab fa-weixin"></i> 微信群</b></a/>
		</p>
		<img class="w-100" src="img/a.png">
		<p class="mt-3">
		<a href="about" class="btn btn-lg btn-outline-secondary w-100"><b class="h2"><i class="fas fa-user"></i> 关 于</b></a/>
		</p>
	</div>

	<footer class="text-center">
		<p class="text-secondary">© 2018 unisy.org 联合十堰</p>
	</footer>
</div>
{% endblock %}
