{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="container">
	<header class="text-center mt-5">
		<h1><i class="fas fa-wrench"></i> 明日上线</h1>
	<header>
</div>
{% endblock %}
