{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="container">
	<header class="text-center my-5">
		<h1><i class="fas fa-wrench"></i> 明日上线</h1>
	<header>
</div>

	<div id="links" class="text-center">
		<p class="mt-3">
		<a href="/" class="btn btn-lg btn-outline-secondary w-100"><b class="h2"><i class="fas fa-home"></i> 首 页</b></a/>
		</p>
	</div >
{% endblock %}
